# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea
qdrant_storage.env.maven-central
example-project
.env.maven-central.template
.env.maven-central
logback-to-metrics/qdrant_storage